html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}



.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-image: url('../images/vet.jpg');
}

.aspirations {
    max-width: 800px;
    text-align: left;
    font-family: 'Georgia', serif;
}

    .aspirations ul {
        padding-left: 20px;
    }

        .aspirations ul li {
            margin-bottom: 10px;
        }

